*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#top-nav{
    height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.topbar{
    height: 80px;
    line-height: 100px;
}
#top-nav .logo, 
#top-nav .menu,
#top-nav .log-in{
    list-style-type: none;
    display: inline-block;
}
.jumbo{
    vertical-align: middle;
}
#top-nav li{
    display: inline-block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 20px;
    margin-left: 50px;
}
#top-nav a{
    color: white;
    text-decoration: none;
}
.log-in{
    padding-left: 100px;
}
span{
    padding: 10px;
    font-size: 15px;
}
.description{
    text-align: center;
    margin-top: 100px;
    color: white;
}
.title{
    font-size: 70px;
}
.explanation{
    font-size: 25px;
    margin-top: 40px;
}
.buttons{
    margin-top: 30px;
}
.button{
    border-radius: 10px;
}
.second{
    margin-right: 30px;
}
.third{
    margin-left: 50px;
    background-color: black;
}
.span{
    font-size: 20px;
    margin: 10px;
}
.two{
    color: white;
}
section{
    padding: 20px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.text{
    float: right;
    margin-right: 150px;
    margin-top: 35px;
}
.title1{
    font-size: 50px;
}
.explanation1{
    margin-top: 20px;
    font-size: 20px;
    color: grey;
}
.text2{
    float: left;
}
.only-text{
    text-align: center;
    padding-top: 50px;
}
.item4{
    margin-left: 150px;
}
.text-bottom{
    text-align: center;
}
.fourth-button{
    background-color: rgb(148, 91, 201);
    border-radius: 10px;
    margin-top: 20px;
}
.button-bottom{
    color: white;
    font-size: 20px;
}
#bottom-nav{
    height: 420px;
    background-color: rgb(46, 44, 44);
    margin-top: 50px;
}
.footer-title{
    color: blueviolet;
}
select{
    margin-top: 20px;
}
.footer-contain{
    padding-top: 50px;
}
.language{
    margin-top: 10px;
    float: left;
}
#social-nav .social-loga{
    list-style-type: none;
    display: inline-block;
    margin-top: 105px;
}
#social-nav li{
    display: inline-block;
}
#social-nav .logos{
    width: 30px;
}
#table{
    float: right;
    margin-right: 200px;
}
#table ul{
    padding: 10px;
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
}
#table li{
    margin-left: 10px;
    font-size: 20px;
    color: white;
}
#table .divergent{
    color: blueviolet;
}
.bottom-bar{
    margin-top: 20px;
}
.bottom-logo{
    vertical-align: middle;
    margin-top: 10px;
}
.last-button{
    margin-left: 1010px;
}